/trunk/tools/3rd/Redis-x64-3.2.100/dump.rdb
/trunk/gateway/log
/trunk/gm/log
/trunk/logicServer/log
/trunk/battleServer/log
/trunk/gateway/target
/trunk/gm/target
/trunk/logicServer/target
/trunk/battleServer/target
/trunk/tools/release/AutoBuildServer/target/gateway/target
/trunk/tools/release/AutoBuildServer/target/gm/target
/trunk/tools/release/AutoBuildServer/target/logicServer/target
/trunk/tools/release/AutoBuildServer/target/battleServer/target
/trunk/tools/src/GameManager/.vs
/trunk/tools/src/GameManager/GameManager/obj
/trunk/tools/src/TestServerFramework/.vs
/trunk/tools/src/TestServerFramework/TestServerFramework/obj
/trunk/tools/src/RedisDataViewer/.vs
/trunk/tools/src/RedisDataViewer/RedisDataViewer/obj
